body{
    margin-left: 50rem;
    margin-top: 20rem;
}

#new-task-submit{
    line-height: 2em;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}


h1{
    font-size: xx-large;
    color: blue;
}

#new-task-input{
    border-radius: 5px;
    border: 0.25px solid black;
    width: 300px;
    line-height: 2em;
    margin-bottom: 5em;
    box-shadow: 3px 2px 2px 2px grey;
}

.text{
    border: none;
    width: 220px;
    line-height: 2em;   
}


.edit{

    line-height: 2em;
    border-radius: 5px;
    background-color: lightgreen;
    color: white;
}
    
.delete{
        line-height: 2em;
    border-radius: 5px;
    background-color: red;
    color: white;    
 }


 #tasks{
     display: inline-block;
 }
    
    